.program {
	background: url(programfond.jpg);
	width: 500px;
	height: 700px;
	margin-left: 400px;;
	font-family: 'Kaushan Script', sans-serif;
	border-radius: 5px;
	font-size: 20px;
	display: block;
	position: relative;
}
h2 {
	text-align: center;
	padding: 50px;
	text-decoration: underline;
}
p {
	padding: 15px;
	text-align: justify;
	margin-right: 25px;
	margin-left: 25px;
}
.news {
	background:rgba(22,34,110,.7);
	-moz-background: rgba(22,34,110,.7);
	-webkit-background: rgba(22,34,110,.7);
	border: 1px solid white;
	border-radius: 10px;
	box-shadow: 6px 6px 12px black;
	width: 300px;
	height: 550px;
	margin-left: 50px;
	margin-top: 10px;
	color: #B87D3B;
	text-align: justify;
	font-family: Lobster, 'trebuchet MS', sans-serif;
}
audio {
	margin-top: 30px;
	margin-left: 50px;
}
section {
	float: left;
}
h3 {
	text-align: center;
	text-decoration: underline;
	font-size: 36px;
}
.newspara {
	font-size: 20px;
}
.lion {
	padding-top: 10px;
}