body {
	background: url(img/imagefond.jpg);
	background-size: cover;
	margin: auto;
}
header {
	background: rgba(22,34,110,.7);
	-moz-background: rgba(22,34,110,.7);
	-webkit-background: rgba(22,34,110,.7);
	height: 150px;
	margin: 10px 20px 0 20px;
	border: 1px solid white;
	border-radius: 10px;
	text-shadow: 4px 4px 6px #8D8BD9;
	box-shadow: 6px 6px 12px black;
}
h1 {
	font-family: Lobster, 'trebuchet MS', sans-serif;
	color: #B87D3B;
	background-position: center;
	text-align: center;
	padding: 2px;
}
.entete {
	font-size: 22px;
	text-align: center;
	margin: 2px;
	color: #B87D3B;
	font-family: Lobster, 'trebuchet MS', sans-serif;
}